<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitStargazers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAE7789025DFDD9700D5A974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE778A625DFDD9A00D5A974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE778B125DFDD9A00D5A974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
